// firefox does not yet support system-ui
$body-font-family: system-ui, -apple-system, sans-serif;

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  color: #222;
  display: flex;
  font-family: $body-font-family;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.app-outer {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  width: 100%;
}
