$body-font-family: system-ui, sans-serif;
$body-font-size: 16px;

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  font-family: $body-font-family;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.app-outer {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  width: 100%;
}
