.badge {
  display: inline-block; 
  border: solid 1px;
  border-color: var(--border-color-badge); 
  color: var(--color-badge);
  background: var(--bg-badge);
  border-radius: 0.5em;
  margin: 0 .5em .5em 0;
  min-width: 2ex;
  min-height: 2ex;
  line-height: 1em;
  padding: .5em!important;
  text-align: center;
  & .of-icon {
    width: auto;
    margin: 0 .25em 0 0.25em;
    vertical-align: middle;
  }
  &.circular {
    border-radius: 500rem;
  }
  &.icon .of-icon {
    margin: auto;    
  }
}

