.of-button {
  display: inline-flex;
  color: #000;
  margin-right: .5rem;
  button {
    border-width: 0;
    border-style: solid;
    border-color:#c9c9c9;
    cursor: pointer;
    padding: .5rem .3rem;
    &:first-of-type,
    &:last-of-type {
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-right-width: 1px;
    }
    &:first-of-type {
      border-left-width: 1px;
      padding: .5rem .8rem;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
    &:hover {
      background-color: #c9c9c9;
    }
    > i {
      vertical-align: middle;
      padding-right: .3rem; 
      --of-icon-scale-indiv: 1.2;
    }
  }
  &--expand {
    .expand {
      padding: 0 0 0 .9rem !important;
    }
  }
  &--split {
    .expand {
      padding-right: 0 !important;
    }
  }
  &--rounded {
    button {
      &:first-of-type {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
      }
      &:last-of-type {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
    }
  }
  &--solid {
    button {
      background-color: #f0f0f0;
    }
  }
  &--outlined,
  &--text {
    button {
      background-color: transparent;
    }
  }
  &--text {
    button {
      border: none !important;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
.of-buttonset {
  .of-button {
    margin-right: 0;
    button {
      border-right: none;
      border-left: none;
      border-radius: 0;
    }
  }
  .of-button:last-of-type {
    button {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-right-width: 1px;
    }
  }
  .of-button:first-of-type {
    button {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-left-width: 1px;
    }
  }
}
