.of-button {
  display: inline-flex;
  color: #000;
  margin-right: 0.5rem;
  button {
    border: 1px solid #c9c9c9;
    padding: .5rem .8rem;
    cursor: pointer;
    i {
      vertical-align: middle;
    }
    .of-button-icon {
      margin: 0 0.5rem 0 0;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
    &.expand {
      padding: .5rem .5rem;
    }
    &.expand i {
      pointer-events: none;
      margin-left: .6rem;
    }
    &:hover {
      background-color: #c9c9c9;
    }
  }
  &--rounded {
    button {
      &:first-of-type {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
      }
      &:last-of-type {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
    }
  }
  &--split {
    button {
      &.expand {
        padding: .5rem .3rem;
      }
      &.expand i {
        margin-left: 0;
      }
    }
  }
  &--split,
  &--rounded {
    button {
      &:first-of-type {
        border-right: none;
      }
      &:last-of-type {
        border-left: none;
      }
    }
  }
  &--solid,
  &--outlined {
    button {
      border: 1px solid #c9c9c9;
    }
  }
  &--solid {
    button {
      background-color: #f0f0f0;
    }
  }
  &--outlined,
  &--text {
    button {
      background-color: transparent;
    }
  }
  &--text {
    button {
      border: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
.of-buttonset {
  .of-button {
    margin-right: 0;
    button {
      border-right: none;
      border-left: none;
      border-radius: 0;
    }
  }
  .of-button:last-of-type {
    button {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-right: 1px solid #c9c9c9;
    }
  }
  .of-button:first-of-type {
    button {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-left: 1px solid #c9c9c9;
    }
  }
}
