.of-datepicker-grid {
  display: grid;
  margin: 8px;
  width: 194px;
  grid-template-columns: repeat(7, 24px);
  justify-content: center;
  grid-gap: 4px;

  & .picker-date {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    border: solid 1px transparent;
    border-radius: 50%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    & div {
      background-color: transparent;
    }

    &.today {
      border-color: teal;
    }

    &.selected-date {
      border-color: teal;
      background-color: teal;
      color: white;
    }

    &.other-month {
      color: #ccc;
      cursor: default;
    }
  }
}

.of-date-picker-title {
  background-color: teal;
  color: white;
  font-size: 110%;
  padding-left: 8px;
}

div.of-date-picker-cur-year {
  cursor: pointer;
}

.of-date-picker-cur-year {
  grid-column: auto / span 5;
  text-align: center;
  font-weight: bolder;
}

.of-datepicker-nav-button {
  display: flex;
  place-items: center;
  cursor: pointer;
  &.next {
    justify-content: flex-end;
  }
  &.prev {
    justify-content: flex-start;
  }
}

.of-datepicker-popup {
  display: flex;
  max-width: 280px;
  flex-direction: column;

  & .of-datepicker-selectors {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    justify-items: center;
  }

  &.with-time.with-date {
    max-width: 320px;
    & .of-datepicker-selectors {
      grid-template-columns: auto auto;
    }
  }
}

.of-time-selector {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 30px 8px 30px 1fr;
  grid-template-rows: 48px auto auto auto 2fr;
  justify-items: center;

  @at-root :not(.with-date) > * > & {
    grid-template-rows: 16px auto auto auto 2fr;
  }

  & .time-value {
    font-weight: bold;
  }
}

.time-picker-arrow {
  cursor: pointer;
}

.of-date-picker-buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  border-top: solid 1px #ccc;
}

.of-date-picker-button {
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  &.accept {
    color: teal;
  }
  &.cancel {
    color: red;
  }
  &:hover {
    background-color: #eee;
  }
}

.of-calendar-day-supertitles {
  display: grid;
  grid-template-columns: 40px 1fr;
  border-top: solid 1px #ccc;
}

.of-calendar-day-supertitle {
  text-align: center;
}

.of-calendar-allday-row .of-calendar-event {
  height: var(--of-event-height, 20px);
  min-height: var(--of-event-height, 20px);
  z-index: 1;
}

.of-calendar-allday-row,
.of-calendar-day-row,
.of-calendar-day-titles,
.of-calendar-month-row {
  display: grid;
  grid-template-columns: 40px repeat(auto-fit, minmax(50px, 1fr));
  border-bottom: solid 1px #ccc;
  &:first-child {
    border-top: solid 1px #ccc;
  }
}

.of-calendar-month-day {
  & .day-title {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
  }
  border-right: solid 1px #ccc;
  &:first-child {
    border-left: solid 1px #ccc;
  }
  & .of-calendar-event {
    height: var(--of-event-height, 20px);
    width: 100%;
    z-index: 1;
  }
  & .events {
    height: var(--of-month-day-heigth, auto);
    position: relative;
  }
}

.of-calendar-more {
  text-align: right;
  width: 100%;
  font-size: 75%;
  font-weight: bold;
  padding-right: 4px;
  cursor: pointer;
  height: var(--of-event-height, auto);
  position: absolute;
}

.of-calendar-event {
  cursor: pointer;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: solid 1px #eee;
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  color: #000;
  padding-left: 2px;
  padding-right: 2px;
  &.conflict {
    border-left: solid 2px var(--of-calendar-conflict-color, red);
  }
  &:hover {
    min-height: var(--of-event-height, 20px);
    min-width: fit-content;
    &.two-lines {
      min-height: calc(2 * var(--of-event-height, 20px));
    }
  }
}

.of-calendar-day {
  position: relative;
}

.of-calendar-day-events-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 10px;
}

.of-calendar-interval {
  height: var(--of-calendar-iterval-height, 48px);
  box-sizing: border-box;
  border-bottom: solid 1px #ccc;
  &:first-child .of-calendar-interval-label {
    display: none;
  }
  position: relative;
}

.of-calendar-interval-label {
  position: absolute;
  background-color: #fff;
  text-align: right;
  top: 0;
  right: 12px;
  transform: translateY(-50%);
  left: 0;
}

.of-calendar-day-supertitle {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.of-calendar-gutter,
.of-calendar-day-supertitle {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  &.of-week-number {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.of-calendar-category-title {
  cursor: pointer;
}

.of-calendar-day,
.of-calendar-category-title {
  border-right: solid 1px #ccc;
}

.of-calendar-category-title,
.of-calendar-day-supertitle {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

.of-calendar-day-title {
  cursor: pointer;
  & .weekday {
    text-transform: uppercase;
    font-size: 70%;
    color: #aaa;
    text-align: center;
  }
  & .day-number {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    &.today {
      background-color: teal;
      color: #fff;
    }
  }
}

.of-calendar-subinterval {
  height: var(--of-calendar-subinterval-height, 25%);
  &.selected {
    background: cornflowerblue;
    opacity: 0.3;
  }
}
