@mixin field-text-disabled {
  color: $color-input-disabled;
  -webkit-text-fill-color: $color-input-disabled; // override needed for disabled state
  text-shadow: $text-shadow-disabled;
}

@mixin field-text-base {
  font-family: $font-family-input;
  font-weight: $font-weight-input;
  letter-spacing: $letter-spacing-input;
  line-height: $line-height-input;
}

.field-compact {
  --pad-h-input: #{$pad-h-compact-input};
  --pad-v-input: #{$pad-v-compact-input};
}
.field-sm {
  --font-size-input: #{$font-size-input-sm};
}
.field-lg {
  --font-size-input: #{$font-size-input-lg};
}

// .field-placeholder {
//   color: $color-field-placeholder;
// }

.of-field-outer {
  // > .field-label {
  //   box-sizing: content-box;
  //   &:not(.single):not(.limit-height) {
  //     display: flex; // to preserve padding
  //   }
  //   min-height: calc(
  //     1em * #{$line-height-input} - 1px
  //   ); // 1px for rounding error
  //   &.limit-height {
  //     max-height: calc(3em * #{$line-height-input} - 1px);
  //   }
  //   padding: $pad-v-input $pad-h-input;
  //   vertical-align: top;
  // }
  .input-icon {
    color: $color-input-icon;
  }
  // &:hover,
  // &.focus,
  // &.active,
  // &.disabled,
  // &.opened {
  //   .input-icon {
  //     color: inherit;
  //   }
  // }
  // &.disabled {
  //   .input-icon {
  //     opacity: 0.6;
  //   }
  // }
  .wait-icon,
  .wait-icon.dynamic {
    height: 18px;
    line-height: 18px;
    vertical-align: top;
  }

  font-size: $font-size-input;
  position: relative;
  text-align: left;
  @include no-select;

  // background: $bg-input;
  // border: $border-width-input solid $border-color-input;
  // border-radius: $border-radius-input;
  // box-shadow: $box-shadow-input;
  // box-sizing: border-box;
  // color: $color-input;
  // font-size: $font-size-input;
  // max-width: 100%; // don't extend past containing cell
  // vertical-align: $vertical-align-input;

  // @include field-text-base;

  &:hover:not(.static) {
    // border: $border-width-input solid $border-color-input-hover;
    // color: $color-input-hover;
  }
  &.focus {
    //background: $bg-input-focus;
    // border: $border-width-input solid $border-color-input-focus;
    // box-shadow: $box-shadow-input-focus;
    .of-field-label {
      color: $color-field-focus;
    }
  }
  /*&.active {
    background: $bg-input-active;
    // border: $border-width-input solid $border-color-input-active;
    // box-shadow: $box-shadow-input-active;
    color: $color-input-active;
    outline: none;
  }*/
  &.readonly {
    // background: $bg-input-disabled;
    // border-color: $border-color-input-disabled;
  }
  &.disabled {
    // background: $bg-input-disabled;
    // border-color: $border-color-input-disabled;
    // opacity: $opacity-input-disabled;
    // @include input-text-disabled;
  }
}

.of-field-label {
  color: $color-field-label;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  // @include field-text-base;
  // &.single {
  //   align-items: center;
  //   display: block;
  //   max-width: 100%;
  //   overflow: hidden;
  //   white-space: nowrap;
  // }
  // &.limit-height {
  //   overflow: hidden;
  //   display: -webkit-box;
  //   display: box;
  //   -webkit-line-clamp: 3;
  //   line-clamp: 3;
  //   -webkit-box-orient: vertical;
  //   box-orient: vertical;
  // }
  /*&.zero-left {
		padding-left: 0;
	}
	&.zero-right {
		padding-right: 0;
  }*/
}

.of-field-input {
  font-size: inherit;
  font-weight: normal;
  // letter-spacing
  // caret-color
}

.of-field-toggle {
  .of-field-input {
    // input is invisible and covers the entire container
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    font-size: inherit;
    margin: 0;
    outline: none;
  }

  .of-toggle-icon {
    font-size: 115%;
    margin-left: 0.5em;
  }

  /*+ .of-field-input-label {
    display: flex;
    label {
      flex: auto;
    }
  }
  + .of-field-input-label::after {
    display: inline-flex;
    content: 'checkbox';
    font-family: uibasic; // FIXME (customizable)
    margin-left: calc(#{$pad-h-input} * 2); // FIXME (rtl)
  }
  &:checked + .of-field-input-label::after {
    content: 'checkbox.checked';
  }
  &[type='radio'] + .of-field-input-label::after {
    content: 'radio';
  }
  &[type='radio']:checked + .of-field-input-label::after {
    content: 'radio.checked';
  }*/
}

// .of-field-input-label {
//   flex: auto;
// }

.of-select-arrow {
  padding-left: 1em;
}

// .field-outer {
//   &:hover,
//   &.focus,
//   &.active {
//     .field-placeholder {
//       color: inherit;
//     }
//   }
// }

.of-field-basic {
  display: inline-block;
  margin: 0 0.3em;

  .of-field-above,
  .of-field-below {
    min-height: 0.25em;
  }

  .of-field-label {
    display: block;
    font-size: 80%;
    padding: 0 0.5em 0.25em;
  }
  &:hover .of-field-label {
    color: $color-input-hover;
  }
  .static .of-field-label {
    color: initial;
  }
  .disabled .of-field-label {
  }

  .of-field-inner {
    align-items: center;
    display: flex;
    background: $bg-input;
    border: $border-width-input solid $border-color-input;
    border-radius: $border-radius-input;
    box-shadow: $box-shadow-input;
    box-sizing: border-box;
    color: $color-input;
    font-size: $font-size-input;
    position: relative;
    max-width: 100%; // don't extend past containing cell
    vertical-align: $vertical-align-input;

    @include field-text-base;
  }
  &.focus .of-field-inner {
    background: $bg-input-focus;
    border-color: $border-color-input-focus;
    box-shadow: $box-shadow-field-basic-focus;
  }
  &:hover .of-field-inner {
    border-color: $border-color-input-hover;
    // color: $color-input-hover;
  }
  .static .of-field-inner {
    border-color: $border-color-input;
  }
  /*&.active {
      background: $bg-input-active;
      // border: $border-width-input solid $border-color-input-active;
      // box-shadow: $box-shadow-input-active;
      color: $color-input-active;
      outline: none;
    }*/
  &.readonly,
  &.disabled {
    .of-field-inner {
      background: $bg-input-disabled;
      border-color: $border-color-input-disabled;
    }
  }
  &.disabled .of-field-inner {
    opacity: $opacity-input-disabled;
    @include input-text-disabled;
  }

  .of-field-input {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: inherit;
    // height: 100%;
    outline: none;
    width: 100%;
    &::placeholder {
      color: $color-input-placeholder;
    }
  }
  &.of-field-text .of-field-input,
  &.of-field-select .of-field-input {
    padding: $pad-v-input $pad-h-input;
  }
  &.of-field-textarea .of-field-input {
    padding: $pad-v-input $pad-h-input 0;
    resize: vertical;
  }

  .of-field-input-label {
    padding: $pad-v-input $pad-h-input;
  }
}

.of-field-outlined,
.of-field-filled {
  display: inline-flex;

  .of-field-inner {
    box-sizing: border-box;
    display: flex;
    min-height: calc(3em + 2 * #{$pad-v-field});
  }

  .of-field-above {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .of-field-input {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    // height: 100%;
    width: 100%;
    outline: none;
    /*&:active {
      // highlight?
    }*/
    &::placeholder {
      color: $color-field-label;
    }
  }

  .of-field-input-label {
    padding: $pad-v-field $pad-h-field;
    pointer-events: none;
  }
}

.of-field-outlined {
  --cur-border: 1px solid #{$border-color-field};
  .of-field-above {
    display: flex;
    &::before {
      border-radius: $border-radius-field 0 0 $border-radius-field;
      border: var(--cur-border);
      border-right: none;
      box-sizing: border-box;
      content: '';
      flex: 0 0 calc(#{$pad-h-field} - 4px);
      transition: border-color 120ms;
    }
    .of-field-label-wrap {
      border-bottom: var(--cur-border);
      border-top: var(--cur-border);
      box-sizing: border-box;
      padding: 0 4px;
      transition: border-color 120ms;
      label {
        position: relative;
        top: 0;
      }
    }
    &::after {
      border-radius: 0 $border-radius-field $border-radius-field 0; // inherit?
      border: var(--cur-border);
      border-left: none;
      content: '';
      flex: auto;
      transition: border-color 120ms;
    }
  }
  &:hover {
    --cur-border: 1px solid #{$border-color-field-hover};
  }
  &.focus {
    --cur-border: 2px solid #{$border-color-field-focus};
    .of-field-label-wrap label {
      top: -1px;
    }
  }

  .of-field-label {
    display: block;
    font-size: 0.75em;
    transform: translateY(1.25em) scale(1.3333);
    transform-origin: left top;
    transition: transform 150ms;
    backface-visibility: hidden; // avoid some jumping?
    // will-change: transform; // FIXME currently blurry in chrome
  }
  &.focus,
  &.active {
    .of-field-label-wrap {
      border-top-color: transparent;
    }
    .of-field-label {
      transform: translateY(-0.75em);
    }
  }

  .of-field-inner {
    align-items: center;
    > * {
      opacity: 0;
      transition: opacity 180ms;
      will-change: opacity;
    }
  }
  &.active {
    .of-field-inner > * {
      opacity: 1;
    }
  }

  &.of-field-text .of-field-input,
  &.of-field-select .of-field-inner {
    //padding: calc(#{$font-size-input} - 2px) $font-size-input
    //  calc(#{$font-size-input} - 4px);
    padding: 0 $pad-h-field;
  }
  &.of-field-textarea {
    .of-field-inner {
      padding: $font-size-input 2px 2px;
    }
    .of-field-input {
      padding: 2px calc(#{$pad-h-field} - 2px) $pad-v-input;
      resize: vertical;
    }
  }
  &.of-field-toggle .of-field-inner {
    align-items: center;
  }
}

.of-field-filled {
  background: $background-field-filled;
  border-radius: $border-radius-field $border-radius-field 0 0;

  &:hover {
    background: $background-field-filled-hover;
  }
  &.focus {
    background: $background-field-filled-focus;
  }

  .of-field-above {
    &::after {
      // ripple
      background: $border-color-field-focus;
      content: '';
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: opacity 90ms, transform 150ms;
      will-change: opacity, transform;
    }
  }
  &.focus .of-field-above::after {
    opacity: 1;
    transform: scaleX(1);
  }

  .of-field-label {
    position: absolute;
    left: $pad-h-field;
    top: 0.5em;
    font-size: 0.75em;
    transform: translateY(0.75em) scale(1.3333);
    transform-origin: left top;
    transition: transform 150ms;
    backface-visibility: hidden; // avoid some jumping?
    // will-change: transform; // FIXME currently blurry in chrome
  }

  &.focus,
  &.active {
    .of-field-label {
      transform: none;
    }
  }

  .of-field-inner {
    align-items: stretch;
    border-bottom: 1px solid $border-color-field;
    > * {
      opacity: 0;
      transition: opacity 180ms;
      will-change: opacity;
    }
  }
  &:hover .of-field-inner {
    border-bottom-color: $border-color-field-hover;
  }
  &.active {
    .of-field-inner > * {
      opacity: 1;
    }
  }

  &.of-field-text .of-field-input {
    //padding: calc(#{$font-size-input} + #{$pad-v-field}) $font-size-input calc(#{$pad-v-field} + 1px);
    padding: $font-size-input $pad-h-field 0;
  }
  &.of-field-select .of-field-inner {
    padding: calc(#{$font-size-input} + #{$pad-v-field}) $pad-h-field 0;
    line-height: 1.9;
  }
  &.of-field-textarea {
    .of-field-inner {
      padding: calc(1.25em + #{$pad-v-field}) 2px 2px;
    }
    .of-field-input {
      padding: $pad-v-field calc(#{$pad-h-field} - 2px) $pad-v-input;
      resize: vertical;
    }
  }
  &.of-field-toggle .of-field-inner {
    align-items: center;
  }
}

// .input-bullet {
//   &::after {
//     // content: ""; // must be set by mixin
//     display: inline-block;
//     text-align: center;
//     text-shadow: none;
//     transform: scale($scale-bullet);
//     transform-origin: 50% 0.5em;
//     width: $width-bullet;
//   }

//   &.input-label {
//     margin-right: -2px;
//     &::after {
//       position: relative;
//       top: -1px;
//     }
//   }

//   &.input-field {
//     padding-right: calc(#{$width-bullet} - 2px);
//     position: relative;
//     &::after {
//       bottom: 0;
//       border-radius: 0 calc(#{$border-radius-input} - 1px)
//         calc(#{$border-radius-input} - 1px) 0;
//       font-size: $font-size-bullet;
//       line-height: #{$font-size-input};
//       position: absolute;
//       right: 2px;
//       top: $pad-v-input;
//     }
//     &.readonly::after {
//       @include input-text-disabled;
//     }
//   }

//   &.input-button {
//     padding-right: calc(#{$width-bullet} + #{$pad-h-input} - 2px);
//     position: relative;
//     &::after {
//       position: absolute;
//       top: $pad-v-input;
//       right: 2px;
//     }
//   }
// }

/*
.input-text {
  // line-height: normal; // fix placeholder position
  -webkit-appearance: none; // remove extra shadow on iOS
  &[readonly] {
    //border-color: @border-color-field;
    background: $bg-input-disabled;
  }
}

// needed for proper height in safari - sets a special minimum height of around 115% line height?
input.input-text {
  height: calc(
    1em * #{$line-height-input} + 2 * #{$pad-v-input} + 2 * #{$border-width-input}
  );
}

textarea.input-text {
  height: auto;
  padding-right: $pad-h-input;
}
*/

// .field.opened {
//   background-color: $bg-button-active;
//   border-color: $border-color-button-active;
//   color: $color-button-active;
//   text-shadow: none;
//   &.opened-above {
//     @include flat-top;
//   }
//   &:not(.opened-above) {
//     @include flat-bottom;
//   }
//   .field-placeholder {
//     color: inherit;
//   }
// }
