@mixin field-text-base {
  font-family: $font-family-input;
  font-weight: $font-weight-input;
  letter-spacing: $letter-spacing-input;
  line-height: $line-height-input;
}

.of--small {
  --field-font-size: #{$font-size-input-sm};
}
.of--large {
  --field-font-size: #{$font-size-input-lg};
}

.of--text-numeric {
  font-variant-numeric: lining-nums tabular-nums;
}
.of--text-placeholder {
  color: $color-field-placeholder;
}

.of--align-left {
  text-align: left;
}
.of--align-right {
  text-align: right;
}
.of--align-center {
  text-align: center;
}
.of--align-start {
  text-align: start;
  justify-content: flex-start;
}
.of--align-end {
  text-align: end;
  justify-content: flex-end;
}

.of--cursor-default {
  cursor: default;
}
.of--cursor-pointer {
  cursor: pointer;
}
.of--cursor-text {
  cursor: text;
}

.of-field-label {
  align-self: center;
  color: var(--field-label-color, $color-field-label);
  // cursor: inherit;
  font-size: 0.8em;
  text-overflow: ellipsis;
  transition: color 100ms;
  white-space: nowrap;
  word-wrap: break-word;

  &.of--focused {
    color: $color-field-focus-label;
  }
}

.of-group {
  --group-pad: calc(0.5em - 1px);
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: var(--group-pad) 0;
}
.of-group-label {
  color: #666;
  font-size: 90%;
  padding-left: 0.7em;
  margin-bottom: var(--group-pad);
}
.of-group:hover > .of-group-label {
  color: $color-field-hover;
}
.of-group:focus-within,
.of-group.of--focused {
  box-shadow: 0 0 1px 2px rgba(99, 131, 167, 0.5);
  > .of-group-label {
    color: $color-field-focus-label;
  }
}
.of-group-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  &.of--pad {
    padding: 0 var(--group-pad) var(--group-pad);
    grid-gap: var(--group-pad);
  }
}

.of-field {
  position: relative;
}

.of-toggle-input,
.of-slider-field,
.of-file-field {
  .of-field-input {
    // input is invisible and covers the entire container
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    cursor: inherit;
    font-size: inherit;
    margin: 0;
    opacity: 0;
    outline: none;
    &::-webkit-file-upload-button {
      cursor: inherit;
    }
  }
}

.of-file-input {
  display: flex;
  position: relative;
}

.of-toggle-wrapper {
  display: flex;
  flex: auto;

  .of-field-inner > & {
    padding-left: 0;
    padding-right: 0;
  }

  .of-toggle-input {
    align-self: center;
    flex: none;
    padding: 0 var(--field-h-pad, 0.4em);
    margin: -2px 0;
    justify-content: center;
    position: relative;
    // --of-icon-scale-indiv: 1.15;
  }
}

// container around inline toggle field (checkbox or switch)
.of-toggle {
  display: inline-flex;
  outline: none;
}

.of-switch {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  font-size: calc(var(--field-font-size, 1em) * 1.5);
  height: 1em;
  line-height: normal;
  padding: 0.2em;
  position: relative;
  vertical-align: top;
  width: 2em;

  &-thumb {
    background-color: $color-slider;
    // border: 1px solid #bbb;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 2px 1px 0 rgba(100, 100, 100, 0.15);
    content: ' ';
    height: 1em;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.15s ease-in-out;
    width: 1em;
  }

  &-track {
    border: 1px solid #777;
    border-radius: 1em;
    box-sizing: border-box;
    flex: auto;
    height: 100%;
    transition: background 0.15s ease-in-out;
  }
  .of--checked & {
    .of-switch-thumb {
      left: calc(1em - 1px);
    }
    .of-switch-track {
      background: #888;
    }
  }
}

.of-slider {
  align-items: center;
  display: flex;
  height: 1em;
  margin: 0.25em 0.9em;
  position: relative;
  width: 100%;

  .of-field-inner > & {
    padding-left: 0;
    padding-right: 0;
  }

  &-track {
    border-radius: 0.25em;
    width: 100%;
    z-index: 0;
    height: 0.5em;
    background: $border-color-field;
  }
  &-thumb {
    background-color: $color-slider;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(100, 100, 100, 0.15);
    box-sizing: border-box;
    height: 1em;
    width: 1em;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
  }
  &:not(.of--readonly) .of-slider-thumb {
    cursor: pointer;
  }
}

.of-color-swatch {
  border: 1px solid $border-color-field;
  border-radius: 2px;
  box-sizing: border-box;
  width: 2.5em;
  height: 1.2em;
}
