.of-icon {
  --icon-size: var(--of-icon-size);

  display: inline-flex; // allow scaling of contents
  font-size: var(--icon-size);
  line-height: 1;

  &.left {
    margin-right: 0.25em;
  }

  svg {
    aspect-ratio: 1;
    fill: currentColor;
    width: var(--icon-size);
    height: auto;
  }

  &--svg {
    vertical-align: text-bottom;
  }
}

.of--icon-size-inherit {
  --icon-size: 1em;
}

.of-icon.of--icon-size-xs {
  --icon-size: 16px;
}

.of-icon.of--icon-size-sm {
  --icon-size: 20px;
}

.of-icon.of--icon-size-md {
  --icon-size: 24px;
}

.of-icon.of--icon-size-lg {
  --icon-size: 28px;
}

.of-icon.of--icon-size-xl {
  --icon-size: 32px;
}

.of--led-grey {
  color: #aaa;
}
.of--led-green {
  color: #2c4;
}
.of--led-red {
  color: #c43;
}
.of--led-yellow {
  color: #dc4;
}
.of--led-violet {
  color: #c5c;
}
.of--led-blue {
  color: #36d;
}
.of--led-orange {
  color: #d80;
}
