.of-icon {
  display: inline-flex; // allow scaling of contents
  font-size: inherit;
  transform: scale($scale-icon, $scale-icon);
  &.left {
    margin-right: 0.25em;
  }

  svg {
    fill: currentColor;
    width: 1em;
    height: auto;
  }
}

.of--icon-inherit {
  font-size: inherit;
}

.of--icon-input {
  font-size: calc(var(--font-size-input, 1em) * 1.5);
  line-height: normal;
  vertical-align: middle;
}

.of--icon-sm {
  font-size: 20px;
}

.of--icon-md {
  font-size: 24px;
}

.of--icon-lg {
  font-size: 28px;
}

.of--icon-xl {
  font-size: 32px;
}

.of-icon-scale-sm {
  --of-icon-scale-indiv: 0.8;
}

.of-icon-scale-lg {
  --of-icon-scale-indiv: 1.33;
}

.of-icon.of-icon-flip-horiz {
  transform: scale(calc(0 - #{$scale-icon}), $scale-icon);
}

.of--led-grey {
  color: #aaa;
}
.of--led-green {
  color: #2c4;
}
.of--led-red {
  color: #c43;
}
.of--led-yellow {
  color: #dc4;
}
.of--led-violet {
  color: #c5c;
}
.of--led-blue {
  color: #36d;
}
.of--led-orange {
  color: #d80;
}
