.of-list-group {
  overflow: hidden;
  max-height: 100%;
  padding-left: 1em;
  &.v-enter-active {
    transition: all 200ms ease;
  }
  &.v-leave-active {
    transition: all 200ms ease;
  }
  &.v-enter-from,
  &.v-leave-to {
    max-height: 0;
  }
}
.of-list-item {
  color: $color-input;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 2px 4px;
  text-decoration: none;
  transition: color 200ms;
  &.of--disabled {
    color: $color-input-disabled;
    cursor: default;
  }
}
.of-list-item-inner {
  align-items: center;
  background: transparent;
  border-radius: 5px;
  display: flex;
  padding: 0.3em 0.8em;
  transition: background-color 200ms;
}
.of-list-item-content {
  flex: auto;
}
.of--enabled {
  &.of-list-item:hover {
    color: $color-input-hover;
  }
  &:hover > .of-list-item-inner {
    background: $bg-label;
  }
}
.of--active > .of-list-item-inner {
  background: #c6e6f6;
}
.of--active:hover > .of-list-item-inner {
  background: #c0e0f0;
}

.of-list-outer {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.of-list-header {
  background: #eee;
  color: #555;
  cursor: default;
  font-size: 80%;
  overflow: hidden;
  padding: 0 1.25ch;
  pointer-events: none;
  position: sticky;
  text-overflow: ellipsis;
  text-transform: uppercase;
  top: 0px;
  user-select: none;
  white-space: nowrap;
}

.of-list-divider {
  &::before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.25);
    height: 1px;
    margin: 0.15em 0.5em;
  }
}
