.of-overlay.of--overlay {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0;
  left: 0;
  bottom: 0;
  padding: var(--overlay-pad, 0px) var(--overlay-pad, 0px) var(--overlay-pad, 0px) 0 ;
  margin: 0 var(--overlay-dyn-margin-right, 0px) 0 var(--overlay-dyn-margin-left, 0px);
  pointer-events: none;
  right: 0;
  z-index: 200;
  &::before {
    content: '';
    flex: 0 1 calc(var(--overlay-dyn-pad-top, 0px) - var(--overlay-pad, 0px));
  }
  &::after {
    content: '';
    flex: 0 1 calc(var(--overlay-dyn-pad-bottom, 0px) - var(--overlay-pad, 0px));
  }
}
.of-overlay > * {
  pointer-events: auto;
}
.of-overlay.of--capture {
  pointer-events: initial;
}
.of-overlay.of--center {
  justify-content: center;
}
.of-overlay.of--left {
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
}
.of-overlay.of--right {
  align-items: flex-end;
  justify-content: center;
  flex-flow: column nowrap;
}
.of-overlay.of--shade {
  background-color: rgba(0, 0, 0, 0.4);
}
.of-overlay.of--pad {
  --overlay-pad: 24px;
}
.of-overlay.of--fit-content {
  width: fit-content;
}

// default overlay transition
.of--overlay.v-enter-active {
  transition: opacity 400ms ease;
}
.of--overlay.v-leave-active {
  transition: opacity 250ms cubic-bezier(1, 0.5, 0.8, 1);
}
.of--overlay.v-enter-from,
.of--overlay.v-leave-to {
  opacity: 0;
}

.of-dialog-outer {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.of-dialog {
  border-radius: 5px;
  background: #fff;
  min-height: 200px;
  min-width: 100%;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}

@media (min-width: 800px) {
  .of-dialog {
    max-width: 80%;
    min-width: 45%;
  }
}

.slide-right-enter-active {
  transition: all 400ms ease;
}
.slide-right-leave-active {
  transition: all 250ms cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-right-enter-from {
  transform: translateX(-50%);
}
.slide-right-leave-to {
  transform: translateX(-50%);
}

.slide-down-enter-active {
  transition: all 400ms ease;
}
.slide-down-leave-active {
  transition: all 250ms cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-down-enter-from {
  transform: translateY(-10px);
}
.slide-down-leave-to {
  transform: translateY(20px);
}

.of-sidebar {
  background: #fff;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  width: 300px;
}
.of--overlay > .of-sidebar {
  border-radius: 0 5px 5px 0;
}

.of-menu {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: #fff;
  max-height: 100%;
  max-width: 400px;
  min-width: 200px;
  overflow: hidden auto;
}
