:root {
  --of-color-primary-light: #246874;
  --of-color-primary-container-light: #baedf7;
  --of-color-on-primary-light: #ffffff;
  --of-color-on-primary-container-light: #041a1e;
  --of-color-secondary-light: #a43007;
  --of-color-secondary-container-light: #ffd9ce;
  --of-color-on-secondary-light: #ffffff;
  --of-color-on-secondary-container-light: #2e0701;
  --of-color-tertiary-light: #0234fb;
  --of-color-tertiary-container-light: #d5e3ff;
  --of-color-on-tertiary-light: #ffffff;
  --of-color-on-tertiary-container-light: #000251;
  --of-color-error-light: #ba1b1b;
  --of-color-on-error-light: #ffffff;
  --of-color-error-container-light: #ffdad4;
  --of-color-on-error-container-light: #410001;
  --of-color-background-light: #f9f9f8;
  --of-color-on-background-light: #151713;
  --of-color-outline-light: #74796b;
  --of-color-shadow-light: #000000;
  --of-color-surface-light: #f0f1ee;
  --of-color-on-surface-light: #151713;
  --of-color-surface-variant-light: #f0f1ee;
  --of-color-on-surface-variant-light: #44473d;
  --of-color-inverse-surface-light: #2d2f28;
  --of-color-inverse-on-surface-light: #f0f1ee;
  --of-color-inverse-primary-light: #ddf6fb;
  --of-color-inverse-secondary-light: #ffece7;
  --of-color-inverse-tertiary-light: #eaf1ff;
  --of-color-section-border-light: #79b4fd;
  --of-color-section-bg-light: #f6faff;
  --of-color-section-alt-bg-light: #f1f7ff;
  --of-color-section-header-light: #e8f2ff;
  --of-color-section-header2-light: #dfedff;
  --of-color-section-header3-light: #d5e7fe;
  --of-color-primary-dark: #77d7ea;
  --of-color-primary-container-dark: #184e57;
  --of-color-on-primary-dark: #0d343b;
  --of-color-on-primary-container-dark: #baedf7;
  --of-color-secondary-dark: #feb19b;
  --of-color-on-secondary-dark: #7c2204;
  --of-color-secondary-container-dark: #551502;
  --of-color-on-secondary-container-dark: #ffd9ce;
  --of-color-tertiary-dark: #abc7ff;
  --of-color-on-tertiary-dark: #0110cf;
  --of-color-tertiary-container-dark: #000790;
  --of-color-on-tertiary-container-dark: #d5e3ff;
  --of-color-error-dark: #ffb4a9;
  --of-color-on-error-dark: #680003;
  --of-color-error-container-dark: #930006;
  --of-color-on-error-container-dark: #ffdad4;
  --of-color-background-dark: #383b33;
  --of-color-on-background-dark: #e1e4dd;
  --of-color-outline-dark: #8e9384;
  --of-color-shadow-dark: #000000;
  --of-color-surface-dark: #44473d;
  --of-color-on-surface-dark: #e1e4dd;
  --of-color-surface-variant-dark: #44473d;
  --of-color-on-surface-variant-dark: #c4c9bd;
  --of-color-inverse-surface-dark: #e1e4dd;
  --of-color-inverse-on-surface-dark: #2d2f28;
  --of-color-inverse-primary-dark: #041a1e;
  --of-color-inverse-secondary-dark: #2e0701;
  --of-color-inverse-tertiary-dark: #000251;
  --of-color-section-border-dark: #7393bc;
  --of-color-section-bg-dark: #2a3e56;
  --of-color-section-alt-bg-dark: #2c4059;
  --of-color-section-header-dark: #314762;
  --of-color-section-header2-dark: #354c69;
  --of-color-section-header3-dark: #39516f;

  --of-color-primary: var(--of-color-primary-light);
  --of-color-primary-container: var(--of-color-primary-container-light);
  --of-color-on-primary: var(--of-color-on-primary-light);
  --of-color-on-primary-container: var(--of-color-on-primary-container-light);
  --of-color-secondary: var(--of-color-secondary-light);
  --of-color-secondary-container: var(--of-color-secondary-container-light);
  --of-color-on-secondary: var(--of-color-on-secondary-light);
  --of-color-on-secondary-container: var(
    --of-color-on-secondary-container-light
  );
  --of-color-tertiary: var(--of-color-tertiary-light);
  --of-color-tertiary-container: var(--of-color-tertiary-container-light);
  --of-color-on-tertiary: var(--of-color-on-tertiary-light);
  --of-color-on-tertiary-container: var(--of-color-on-tertiary-container-light);
  --of-color-error: var(--of-color-error-light);
  --of-color-on-error: var(--of-color-on-error-light);
  --of-color-error-container: var(--of-color-error-container-light);
  --of-color-on-error-container: var(--of-color-on-error-container-light);
  --of-color-background: var(--of-color-background-light);
  --of-color-on-background: var(--of-color-on-background-light);
  --of-color-outline: var(--of-color-outline-light);
  --of-color-shadow: var(--of-color-shadow-light);
  --of-color-surface: var(--of-color-surface-light);
  --of-color-on-surface: var(--of-color-on-surface-light);
  --of-color-surface-variant: var(--of-color-surface-variant-light);
  --of-color-on-surface-variant: var(--of-color-on-surface-variant-light);
  --of-color-inverse-surface: var(--of-color-inverse-surface-light);
  --of-color-inverse-on-surface: var(--of-color-inverse-on-surface-light);
  --of-color-inverse-primary: var(--of-color-inverse-primary-light);
  --of-color-inverse-secondary: var(--of-color-inverse-secondary-light);
  --of-color-inverse-tertiary: var(--of-color-inverse-tertiary-light);

  --of-color-section-bg: var(--of-color-section-bg-light);
  --of-color-section-alt-bg: var(--of-color-section-alt-bg-light);
  --of-color-section-border: var(--of-color-section-border-light);
  --of-color-section-header: var(--of-color-section-header-light);
  --of-color-section-header2: var(--of-color-section-header2-light);
  --of-color-section-header3: var(--of-color-section-header3-light);
}

.-of-theme-dark {
  --of-color-primary: var(--of-color-primary-dark);
  --of-color-primary-container: var(--of-color-primary-container-dark);
  --of-color-on-primary: var(--of-color-on-primary-dark);
  --of-color-on-primary-container: var(--of-color-on-primary-container-dark);
  --of-color-secondary: var(--of-color-secondary-dark);
  --of-color-secondary-container: var(--of-color-secondary-container-dark);
  --of-color-on-secondary: var(--of-color-on-secondary-dark);
  --of-color-on-secondary-container: var(
    --of-color-on-secondary-container-dark
  );
  --of-color-tertiary: var(--of-color-tertiary-dark);
  --of-color-tertiary-container: var(--of-color-tertiary-container-dark);
  --of-color-on-tertiary: var(--of-color-on-tertiary-dark);
  --of-color-on-tertiary-container: var(--of-color-on-tertiary-container-dark);
  --of-color-error: var(--of-color-error-dark);
  --of-color-on-error: var(--of-color-on-error-dark);
  --of-color-error-container: var(--of-color-error-container-dark);
  --of-color-on-error-container: var(--of-color-on-error-container-dark);
  --of-color-background: var(--of-color-background-dark);
  --of-color-on-background: var(--of-color-on-background-dark);
  --of-color-outline: var(--of-color-outline-dark);
  --of-color-shadow: var(--of-color-shadow-dark);
  --of-color-surface: var(--of-color-surface-dark);
  --of-color-on-surface: var(--of-color-on-surface-dark);
  --of-color-surface-variant: var(--of-color-surface-variant-dark);
  --of-color-on-surface-variant: var(--of-color-on-surface-variant-dark);
  --of-color-inverse-surface: var(--of-color-inverse-surface-dark);
  --of-color-inverse-on-surface: var(--of-color-inverse-on-surface-dark);
  --of-color-inverse-primary: var(--of-color-inverse-primary-dark);
  --of-color-inverse-secondary: var(--of-color-inverse-secondary-dark);
  --of-color-inverse-tertiary: var(--of-color-inverse-tertiary-dark);

  --of-color-section-bg: var(--of-color-section-bg-dark);
  --of-color-section-alt-bg: var(--of-color-section-alt-bg-dark);
  --of-color-section-border: var(--of-color-section-border-dark);
  --of-color-section-header: var(--of-color-section-header-dark);
  --of-color-section-header2: var(--of-color-section-header2-dark);
  --of-color-section-header3: var(--of-color-section-header3-dark);
}

.of--tinted {
  --of-has-tint: 1;
  &.of--tint-primary {
    --of-tint-name: primary;
    --of-primary-tint: var(--of-color-primary);
    --of-on-primary-tint: var(--of-color-on-primary);
    --of-container-tint: var(--of-color-primary-container);
    --of-on-container-tint: var(--of-color-on-primary-container);
    --of-inverse-tint: var(--of-color-inverse-primary);
  }
  &.of--tint-secondary {
    --of-tint-name: secondary;
    --of-primary-tint: var(--of-color-secondary);
    --of-on-primary-tint: var(--of-color-on-secondary);
    --of-container-tint: var(--of-color-secondary-container);
    --of-on-container-tint: var(--of-color-on-secondary-container);
    --of-inverse-tint: var(--of-color-inverse-secondary);
  }

  &.of--tint-tertiary {
    --of-tint-name: tertiary;
    --of-primary-tint: var(--of-color-tertiary);
    --of-on-primary-tint: var(--of-color-on-tertiary);
    --of-container-tint: var(--of-color-tertiary-container);
    --of-on-container-tint: var(--of-color-on-tertiary-container);
    --of-inverse-tint: var(--of-color-inverse-tertiary);
  }
}

body {
  --of-primary-tint: var(--of-color-primary);
}
