:root {
  --of-color-primary-light: #266772;
  --of-color-primary-container-light: #b0ecfa;
  --of-color-on-primary-light: #ffffff;
  --of-color-on-primary-container-light: #061f23;
  --of-color-secondary-light: #ab350d;
  --of-color-secondary-container-light: #fedad7;
  --of-color-on-secondary-light: #ffffff;
  --of-color-on-secondary-container-light: #390c01;
  --of-color-tertiary-light: #8d4f01;
  --of-color-tertiary-container-light: #ffdbca;
  --of-color-on-tertiary-light: #ffffff;
  --of-color-on-tertiary-container-light: #2e1600;
  --of-color-error-light: #ba1b1b;
  --of-color-on-error-light: #ffffff;
  --of-color-error-container-light: #ffdad4;
  --of-color-on-error-container-light: #410001;
  --of-color-background-light: #f8faf4;
  --of-color-on-background-light: #1b1c18;
  --of-color-outline-light: #72787a;
  --of-color-shadow-light: #000000;
  --of-color-surface-light: #edf3e1;
  --of-color-on-surface-light: #1b1c18;
  --of-color-surface-variant-light: #eef1f2;
  --of-color-on-surface-variant-light: #444748;
  --of-color-inverse-surface-light: #2f312b;
  --of-color-inverse-on-surface-light: #edf3e1;
  --of-color-inverse-primary-light: #daf5fd;
  --of-color-inverse-secondary-light: #feedeb;
  --of-color-inverse-tertiary-light: #ffede5;
  --of-color-primary-dark: #58d7ed;
  --of-color-primary-container-dark: #1b4d56;
  --of-color-on-primary-dark: #10353c;
  --of-color-on-primary-container-dark: #b0ecfa;
  --of-color-secondary-dark: #fdb4ac;
  --of-color-on-secondary-dark: #832607;
  --of-color-secondary-container-dark: #5d1804;
  --of-color-on-secondary-container-dark: #fedad7;
  --of-color-tertiary-dark: #ffb68a;
  --of-color-on-tertiary-dark: #6c3a01;
  --of-color-tertiary-container-dark: #4b2700;
  --of-color-on-tertiary-container-dark: #ffdbca;
  --of-color-error-dark: #ffb4a9;
  --of-color-on-error-dark: #680003;
  --of-color-error-container-dark: #930006;
  --of-color-on-error-container-dark: #ffdad4;
  --of-color-background-dark: #3a3c35;
  --of-color-on-background-dark: #dee5cf;
  --of-color-outline-dark: #8b9294;
  --of-color-shadow-dark: #000000;
  --of-color-surface-dark: #454840;
  --of-color-on-surface-dark: #dee5cf;
  --of-color-surface-variant-dark: #444748;
  --of-color-on-surface-variant-dark: #bfc8cb;
  --of-color-inverse-surface-dark: #dee5cf;
  --of-color-inverse-on-surface-dark: #2f312b;
  --of-color-inverse-primary-dark: #061f23;
  --of-color-inverse-secondary-dark: #390c01;
  --of-color-inverse-tertiary-dark: #2e1600;
  --of-color-primary: var(--of-color-primary-light);
  --of-color-primary-container: var(--of-color-primary-container-light);
  --of-color-on-primary: var(--of-color-on-primary-light);
  --of-color-on-primary-container: var(--of-color-on-primary-container-light);
  --of-color-secondary: var(--of-color-secondary-light);
  --of-color-secondary-container: var(--of-color-secondary-container-light);
  --of-color-on-secondary: var(--of-color-on-secondary-light);
  --of-color-on-secondary-container: var(
    --of-color-on-secondary-container-light
  );
  --of-color-tertiary: var(--of-color-tertiary-light);
  --of-color-tertiary-container: var(--of-color-tertiary-container-light);
  --of-color-on-tertiary: var(--of-color-on-tertiary-light);
  --of-color-on-tertiary-container: var(--of-color-on-tertiary-container-light);
  --of-color-error: var(--of-color-error-light);
  --of-color-on-error: var(--of-color-on-error-light);
  --of-color-error-container: var(--of-color-error-container-light);
  --of-color-on-error-container: var(--of-color-on-error-container-light);
  --of-color-background: var(--of-color-background-light);
  --of-color-on-background: var(--of-color-on-background-light);
  --of-color-outline: var(--of-color-outline-light);
  --of-color-shadow: var(--of-color-shadow-light);
  --of-color-surface: var(--of-color-surface-light);
  --of-color-on-surface: var(--of-color-on-surface-light);
  --of-color-surface-variant: var(--of-color-surface-variant-light);
  --of-color-on-surface-variant: var(--of-color-on-surface-variant-light);
  --of-color-inverse-surface: var(--of-color-inverse-surface-light);
  --of-color-inverse-on-surface: var(--of-color-inverse-on-surface-light);
  --of-color-inverse-primary: var(--of-color-inverse-primary-light);
  --of-color-inverse-secondary: var(--of-color-inverse-secondary-light);
  --of-color-inverse-tertiary: var(--of-color-inverse-tertiary-light);
}

.-of-theme-dark {
  --of-color-primary: var(--of-color-primary-dark);
  --of-color-primary-container: var(--of-color-primary-container-dark);
  --of-color-on-primary: var(--of-color-on-primary-dark);
  --of-color-on-primary-container: var(--of-color-on-primary-container-dark);
  --of-color-secondary: var(--of-color-secondary-dark);
  --of-color-secondary-container: var(--of-color-secondary-container-dark);
  --of-color-on-secondary: var(--of-color-on-secondary-dark);
  --of-color-on-secondary-container: var(
    --of-color-on-secondary-container-dark
  );
  --of-color-tertiary: var(--of-color-tertiary-dark);
  --of-color-tertiary-container: var(--of-color-tertiary-container-dark);
  --of-color-on-tertiary: var(--of-color-on-tertiary-dark);
  --of-color-on-tertiary-container: var(--of-color-on-tertiary-container-dark);
  --of-color-error: var(--of-color-error-dark);
  --of-color-on-error: var(--of-color-on-error-dark);
  --of-color-error-container: var(--of-color-error-container-dark);
  --of-color-on-error-container: var(--of-color-on-error-container-dark);
  --of-color-background: var(--of-color-background-dark);
  --of-color-on-background: var(--of-color-on-background-dark);
  --of-color-outline: var(--of-color-outline-dark);
  --of-color-shadow: var(--of-color-shadow-dark);
  --of-color-surface: var(--of-color-surface-dark);
  --of-color-on-surface: var(--of-color-on-surface-dark);
  --of-color-surface-variant: var(--of-color-surface-variant-dark);
  --of-color-on-surface-variant: var(--of-color-on-surface-variant-dark);
  --of-color-inverse-surface: var(--of-color-inverse-surface-dark);
  --of-color-inverse-on-surface: var(--of-color-inverse-on-surface-dark);
  --of-color-inverse-primary: var(--of-color-inverse-primary-dark);
  --of-color-inverse-secondary: var(--of-color-inverse-secondary-dark);
  --of-color-inverse-tertiary: var(--of-color-inverse-tertiary-dark);
}

.of--tinted {
  --of-has-tint: 1;
  &.of--tint-primary {
    --of-tint-name: primary;
    --of-primary-tint: var(--of-color-primary);
    --of-on-primary-tint: var(--of-color-on-primary);
    --of-container-tint: var(--of-color-primary-container);
    --of-on-container-tint: var(--of-color-on-primary-container);
    --of-inverse-tint: var(--of-color-inverse-primary);
  }
  &.of--tint-secondary {
    --of-tint-name: secondary;
    --of-primary-tint: var(--of-color-secondary);
    --of-on-primary-tint: var(--of-color-on-secondary);
    --of-container-tint: var(--of-color-secondary-container);
    --of-on-container-tint: var(--of-color-on-secondary-container);
    --of-inverse-tint: var(--of-color-inverse-secondary);
  }

  &.of--tint-tertiary {
    --of-tint-name: tertiary;
    --of-primary-tint: var(--of-color-tertiary);
    --of-on-primary-tint: var(--of-color-on-tertiary);
    --of-container-tint: var(--of-color-tertiary-container);
    --of-on-container-tint: var(--of-color-on-tertiary-container);
    --of-inverse-tint: var(--of-color-inverse-tertiary);
  }
}

body {
  --of-primary-tint: var(--of-color-primary);
}
