$base-color-active: #68d !default;
$base-color-active-text: #fff;
$base-color-active-border: darken($base-color-active, 10%) !default;
$base-color-button: #ededed !default;
$base-color-button-focus: #368;
$base-color-disabled: rgba(160, 160, 160, 0.8) !default;
$base-color-field-border: #000 !default;
$base-color-field-filled: #ddd !default;
$base-color-focus-border: #479;
$base-color-hover: #58b !default;
$base-color-field-active-text: #3c68d4 !default;
$base-color-field-bg: #fff !default;
$base-color-field-error: #930000 !default;
$base-color-field-icon: #666 !default; // fixme use alpha
$base-color-field-muted-bg: #e3e3e3 !default; // fixme use alpha
$base-color-field-placeholder: #999 !default; // fixme use alpha
$base-color-field-text: #3b3b3b !default;
$base-color-label-bg: #e6e6e6 !default; // fixme use alpha
$base-color-label-border: #aaa !default;
$base-color-label-text: #555 !default;
$base-color-menu-header: #dedede !default;
$base-color-muted: #888 !default; // fixme use alpha
$base-color-quiet: #f6f6f6 !default; // fixme use alpha
$base-color-sheet-bg: #fff;
$base-color-soft: #dadada !default; // fixme use alpha
$base-color-text: #333;

:root {
  --of-bg-field: #{$base-color-field-bg};
  --of-bg-field-active: var(--of-bg-field);
  --of-bg-field-disabled: #{$base-color-quiet};
  --of-bg-field-focus: var(--of-bg-field);
  --of-bg-field-filled: #{rgba($base-color-field-filled, 0.6)};
  --of-bg-field-filled-hover: #{rgba($base-color-field-filled, 0.7)};
  --of-bg-field-filled-focus: #{rgba($base-color-field-filled, 0.8)};
  --of-bg-sheet: #{$base-color-sheet-bg};
  --of-border-color-field: #{rgba($base-color-field-border, 0.42)};
  --of-border-color-field-active: #{$base-color-active-border};
  --of-border-color-field-disabled: #{lighten($base-color-disabled, 10%)};
  --of-border-color-field-focus: #{$base-color-focus-border};
  --of-border-color-field-hover: #{rgba($base-color-field-border, 0.7)};
  --of-border-color-field-invalid: #{lighten($base-color-field-error, 10%)};
  --of-box-shadow-field-basic: inset 1px 2px 8px #{rgba(
      $base-color-field-border,
      0.1
    )};
  --of-box-shadow-field-basic-focus: 0 0 0 0.2rem #{rgba(
      $base-color-focus-border,
      0.25
    )};
  --of-color-active: #{$base-color-active-text};
  --of-color-field: #{$base-color-field-text};
  --of-color-field-active: #{$base-color-field-active-text};
  --of-color-field-disabled: #{$base-color-muted};
  --of-color-field-filled: var(--of-color-field);
  --of-color-field-filled-hover: var(--of-color-field-hover);
  --of-color-field-filled-label: var(--of-color-field-label);
  --of-color-field-filled-focus-label: var(--of-color-field-focus-label);
  --of-color-field-focus: var(--of-color-field);
  --of-color-field-label: #{rgba($base-color-text, 0.6)};
  --of-color-field-focus-label: var(--of-border-color-field-focus);
  --of-color-field-hover: #{$base-color-hover};
  --of-color-field-icon: #{$base-color-field-icon};
  --of-color-field-placeholder: #{$base-color-field-placeholder};
  --of-color-sheet: #{$base-color-text};
  --of-field-size: 20ch;
}

$bg-active: var(
  --bg-active,
  linear-gradient(
    to bottom,
    darken($base-color-active, 5%) 30%,
    lighten($base-color-active, 5%)
  )
);
$bg-badge: var(--bg-badge, $base-color-field-bg);
$bg-bullet-down: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMTUgMTEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxOyI+PGcgaWQ9InBvbHlnb24xNzMiIHRyYW5zZm9ybT0ibWF0cml4KDEuOTQzNDQsMCwwLDEuNzI4MjMsLTYwMC43OTgsLTM2Ljg0MTUpIj48cGF0aCBkPSJNMzA5LjUsMjJMMzE2LjUsMjJMMzEzLDI3TDMwOS41LDIyWiIgc3R5bGU9ImZpbGw6cmdiKDY4LDY4LDY4KTtmaWxsLXJ1bGU6bm9uemVybzsiLz48L2c+PC9zdmc+);
// $bg-button: var(--bg-button, $base-color-button);
$bg-button: var(
  --bg-button,
  linear-gradient(
    to bottom,
    mix(white, $base-color-button, 30%) 30%,
    mix(black, $base-color-button, 4%)
  )
);
// $bg-button-active: var(--bg-button-active, $base-color-field-muted-bg);
$bg-button-active: var(
  --bg-button-active,
  linear-gradient(
    to bottom,
    lighten($base-color-field-muted-bg, 5%) 30%,
    lighten($base-color-field-muted-bg, 10%)
  )
);
// $bg-button-disabled: var(--bg-button-disabled, $base-color-field-muted-bg);
$bg-button-disabled: var(
  --bg-button-disabled,
  linear-gradient(
    to bottom,
    #{darken($base-color-field-muted-bg, 5%)} 30%,
    #{$base-color-field-muted-bg}
  )
);
// $bg-button-focus: var(--bg-button-focus, $base-color-field-muted-bg);
$bg-button-focus: var(
  --bg-button-focus,
  linear-gradient(
    to bottom,
    darken($base-color-field-muted-bg, 5%) 30%,
    lighten($base-color-field-muted-bg, 5%)
  )
);
$bg-field: var(--of-bg-field);
$bg-field-active: var(--of-bg-field-active);
$bg-field-disabled: var(--of-bg-field-disabled);
$bg-field-focus: var(--of-bg-field-focus);
$bg-field-filled: var(--of-bg-field-filled);
$bg-field-filled-hover: var(--of-bg-field-filled-hover);
$bg-field-filled-focus: var(--of-bg-field-filled-focus);
$bg-label: var(--bg-label, #{$base-color-label-bg});
/*$bg-label: var(
  --bg-label,
  linear-gradient(
    to bottom,
    lighten($base-color-label-bg, 2%) 20%,
    darken($base-color-label-bg, 3%)
  )
);*/
$bg-menu-header: var(--bg-menu-header, #{$base-color-menu-header});
$border-color-active: var(--of-border-color-active);
$border-color-button: var(--border-color-button, #{$base-color-field-border});
$border-color-button-active: var(
  --border-color-button-active,
  #{$base-color-active-border}
);
$border-color-field: var(--of-border-color-field);
$border-color-field-active: var(--of-border-color-field-active);
$border-color-field-disabled: var(--of-border-color-field-disabled);
$border-color-field-focus: var(--of-border-color-field-focus);
$border-color-field-hover: var(--of-border-color-field-hover);
$border-color-field-invalid: var(--of-border-color-field-invalid);
$border-color-label: var(--border-color-label, #{$base-color-label-border});
$border-color-menu-header: var(
  --border-menu-header,
  #{$base-color-menu-header}
);
$border-color-progress: var(--border-color-progress, #{$base-color-soft});
$border-radius-badge: 4px;
$border-radius-button: var(--border-radius-button, 5px);
$border-radius-input: var(--border-radius-input, 5px);
$border-radius-menu-current: var(--border-radius-menu-current, 2px);
$border-radius-progress: var(--border-radius-progress, 3px);
$border-width-badge: 1px !default;
$border-width-button: 1px !default;
$border-width-input: 1px !default;
$border-width-tab: 1px !default;
$box-shadow-field-basic: var(--of-box-shadow-field-basic);
$box-shadow-field-basic-focus: var(--of-box-shadow-field-basic-focus);
$color-active: var(--of-color-active);
$color-badge: var(--color-badge, #{$base-color-muted});
$color-button: var(--color-button, #{$base-color-field-text});
$color-button-active: var(--of-color-button-active);
$color-button-focus: var(--color-button-focus, #{$base-color-button-focus});
$color-button-icon: var(--color-button-icon, #{$base-color-field-icon});
$color-field: var(--of-color-field);
$color-field-active: var(--of-color-field-active);
$color-field-disabled: var(--of-color-field-disabled);
$color-field-filled: var(--of-color-field-filled);
$color-field-filled-hover: var(--of-color-field-filled-hover);
$color-field-filled-label: var(--of-color-field-filled-label);
$color-field-filled-focus-label: var(--of-color-field-filled-focus-label);
$color-field-focus: var(--of-color-field-focus);
$color-field-hover: var(--of-color-field-hover);
$color-field-icon: var(--of-color-field-icon);
$color-field-placeholder: var(--of-color-field-placeholder);
$color-field-label: var(--of-color-field-label);
$color-field-focus-label: var(--of-color-field-focus-label);
$color-label: var(--color-label, #{$base-color-label-text});
$color-menu-option: var(--color-menu-option, #{$base-color-field-text});
$font-family-input: var(--font-family-input, inherit);
$font-size-badge: var(--font-size-badge, 0.75rem);
$font-size-input: var(--font-size-input, 1rem);
$font-size-input-sm: var(--font-size-input-sm, 0.8125rem); // 13/16
$font-size-input-lg: var(--font-size-input-lg, 1.25rem); // 20/16
$font-size-bullet: var(--font-size-bullet, 1em);
$font-size-tab: var(--font-size-tab, #{$font-size-input});
$font-weight-badge: var(--font-weight-badge, bold);
$font-weight-input: var(--font-weight-input, normal);
$letter-spacing-input: var(--letter-spacing-input, 0);
$line-height-badge: var(--line-height-badge, 1.2);
$line-height-input: var(--line-height-input, 1.125); // 18/16
$line-height-form-label: var(--line-height-form-label, 1.7);
$line-height-menu-option: var(--line-height-menu-option, 1.35);
$opacity-input-disabled: var(--opacity-input-disabled, 0.85);
$pad-h-badge: var(--pad-h-badge, 0.3em);
$pad-v-badge: var(--pad-v-badge, 0.15em);
$pad-h-compact-input: var(--pad-h-compact-input, 0.4em);
$pad-h-input: var(--pad-h-input, 0.4em);
$pad-v-compact-input: var(--pad-v-compact-input, 0.25em);
$pad-v-input: var(--pad-v-input, 0.5em);
$pad-h-menu-option: var(--pad-h-menu-option, 0.4em);
$pad-v-menu-option: var(--pad-v-menu-option, 0.3em);
$pad-inline-button: var(--pad-inline-button, 0.2rem);
$scale-bullet: var(--of-icon-scale-bullet, 0.75);
$scale-icon: calc(
  var(--of-icon-scale-global, 1) * var(--of-icon-scale-indiv, 1)
);
$text-shadow-badge: var(--text-shadow-badge, 0 1px 0 rgba(180, 180, 180, 0.1));
$text-shadow-button: var(
  --text-shadow-button,
  0 1px 1px rgba(255, 255, 255, 0.8)
);
$text-shadow-disabled: var(
  --text-shadow-disabled,
  0 1px 0 rgba(255, 255, 255, 0.3)
);
$text-shadow-label: var(--text-shadow-label, 0 1px 0 rgba(150, 150, 150, 0.1));
$text-shadow-progress: var(--text-shadow-progress, 0 0 2px #fff);
$vertical-align-badge: baseline;
$vertical-align-button: middle;
$vertical-align-input: text-bottom; // NOTE: was middle in previous version
$width-bullet: var(--width-bullet, 1.1em);

$border-radius-field: var(--border-radius-field, 4px);
$pad-h-field: calc(var(--font-size-input, 1rem) * 0.75);
$pad-v-field: 0.25em;
$pad-v-field-inner: 0.75rem;
// $color-field-border: rgba(#000, 0.38)

@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}
