@function use-var($cat, $var, $state: false) {
  @if $state {
    @return var(--of-#{$cat}-#{$var}-#{$state}, var(--of-#{$cat}-#{$var}));
  } @else {
    @return var(--of-#{$cat}-#{$var});
  }
}

@function use-color($cat, $state: false) {
  @return use-var($cat, color, $state);
}

@function use-opacity($cat, $state: false) {
  @return use-var($cat, opacity, $state);
}

@mixin define-vars($cat, $default, $spec: ()) {
  @each $attr, $val in $default {
    --of-#{$cat}-#{$attr}: #{$val};
  }
  @each $state, $vals in $spec {
    @each $attr, $val in $vals {
      --of-#{$cat}-#{$attr}-#{$state}: #{$val};
    }
  }
}

@mixin define-color-opacity($cat, $default, $spec: ()) {
  $default: (
    color: #{nth($default, 1)},
    opacity: #{nth($default, 2)},
  );
  $new_spec: ();
  @each $state, $vals in $spec {
    $_color: nth($vals, 1);
    $_opa: nth($vals, 2);
    $new_spec: map-merge(
      $new_spec,
      (
        $state: (
          color: #{$_color},
          opacity: #{$_opa},
        ),
      )
    );
  }
  @include define-vars($cat, $default, $new_spec);
}

$border-radius-input: var(--border-radius-input, 5px);
$base-color-sheet-bg: var(--of-color-surface);
$base-color-text: var(--of-color-on-surface);
$base-color-highlight: var(--of-inverse-tint) !default;
$vertical-align-badge: middle;
$border-radius-badge: 0.5em;
$border-radius-button: var(--border-radius-button, 5px);
$border-width-badge: 1px !default;
$bg-badge: var(--bg-badge, --of-color-background);

$font-family-input: var(--font-family-input, inherit);
$font-size-badge: var(--font-size-badge, 0.8rem);
$font-size-badge-sm: var(--font-size-badge-sm, 0.55rem);
$font-size-badge-lg: var(--font-size-badge-lg, 1.05rem);
$font-size-input: var(--font-size-input, 1rem);
$font-size-input-sm: var(--font-size-input-sm, 0.8125rem); // 13/16
$font-size-input-lg: var(--font-size-input-lg, 1.125rem); // 18/16
$font-size-bullet: var(--font-size-bullet, 1em);
$font-size-tab: var(--font-size-tab, #{$font-size-input});
$font-weight-badge: var(--font-weight-badge, bold);
$font-weight-input: var(--font-weight-input, normal);
$letter-spacing-input: var(--letter-spacing-input, 0);
$line-height-badge: var(--line-height-badge, 1);
$line-height-input: var(--line-height-input, 1.25); // 20/16
$line-height-form-label: var(--line-height-form-label, 1.7);
$line-height-menu-option: var(--line-height-menu-option, 1.35);
$pad-h-badge: var(--pad-h-badge, 0.5em);
$pad-v-badge: var(--pad-v-badge, 0.5em);
$pad-v-compact-badge: var(--pad-v-compact-badge, 0.2em);
$pad-h-compact-input: var(--pad-h-compact-input, 0.4em);
$pad-h-input: var(--pad-h-input, 0.4em);
$pad-v-compact-input: var(--pad-v-compact-input, 0.25em);
$pad-v-input: var(--pad-v-input, 0.5em);
$pad-h-menu-option: var(--pad-h-menu-option, 0.4em);
$pad-v-menu-option: var(--pad-v-menu-option, 0.3em);
$pad-inline-button: var(--pad-inline-button, 0.2rem);

//////////////////////////////////////////////////////////////////////////

/** !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
$color-field-focus-label: var(--of-color-field-focus-label);
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

:root {
  --of-bg-sheet: #{$base-color-sheet-bg};
  --of-color-sheet: #{$base-color-text};
  --of-field-size: 26ch;
  --of-icon-size: 24px;
}

@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}
