@import 'page';

::selection {
  background-color: #9bc;
  color: #334;
}

@import '../../../../node_modules/oceanfront/dist/oceanfront.css';

// @import '../../../../node_modules/oceanfront/dist/fonts/uibasic.css';
// @import '../../../../node_modules/oceanfront/dist/fonts/uibasic-icons.css';

.of-code {
  border-radius: 5px;
  background: #444a55;
  color: #f6f6f6;
  font-family: monospace;
  padding: 1ch;
}

h4 {
  margin-bottom: 0.25em;
}
