@import 'page';

::selection {
  background-color: var(--of-pal-primary-50);
  color: var(--of-pal-primary-98);
}

@import 'oceanfront/dist/oceanfront.css';

.of-code {
  border-radius: 5px;
  background: var(--of-pal-neutral-90);
  color: #f6f6f6;
  font-family: monospace;
  padding: 1ch;
}

h1 {
  color: var(--of-pal-primary-22);
}

h2 {
  color: var(--of-pal-primary-30);
  margin: 0.4em 0;
}

h4 {
  margin-bottom: 0.25em;
}

.form-row + .form-row {
  margin-top: 0.8rem;
}

.demo-fields {
  border: 1px solid var(--of-pal-primary-68);
  border-radius: 0.25rem;
  margin-top: 2rem;
  padding: 1rem;

  .form-row + .form-row {
    margin-top: 1.25rem;
  }
}

.demo-form {
  background: var(--of-pal-primary-98);
  border: 1px solid var(--of-pal-primary-72);
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 1rem;
}
