@import 'page';

::selection {
  background-color: #9bc;
  color: #334;
}

@import 'oceanfront/dist/oceanfront.css';

.of-code {
  border-radius: 5px;
  background: #444a55;
  color: #f6f6f6;
  font-family: monospace;
  padding: 1ch;
}

h2 {
  color: #339988;
  margin: 0.4em 0;
}

h4 {
  margin-bottom: 0.25em;
}

.form-row + .form-row {
  margin-top: 0.8rem;
}

.demo-fields {
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  margin-top: 2rem;
  padding: 1rem;

  .form-row + .form-row {
    margin-top: 1.25rem;
  }
}

.demo-form {
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 1rem;
}
