$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$container-bottom-gutter: 1rem !default;
$grid-column-count: 12 !default;
$grid-gutter-size: 1.5rem !default;
$flex-order-max: 5 !default;

@mixin screen-xs {
  @media screen and (max-width: $screen-xs-max) {
    @content;
  }
}
@mixin screen-sm {
  @media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    @content;
  }
}
@mixin screen-md {
  @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
    @content;
  }
}
@mixin screen-lg {
  @media screen and (min-width: $screen-lg) {
    @content;
  }
}

@mixin screen-sm-max {
  @media screen and (max-width: $screen-sm-max) {
    @content;
  }
}
@mixin screen-md-max {
  @media screen and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin screen-sm-min {
  @media screen and (min-width: $screen-sm) {
    @content;
  }
}
@mixin screen-md-min {
  @media screen and (min-width: $screen-md) {
    @content;
  }
}
@mixin screen-lg-min {
  @media screen and (min-width: $screen-lg) {
    @content;
  }
}

.xs-hidden {
  @include screen-xs {
    display: none;
  }
}
.sm-hidden {
  @include screen-sm {
    display: none;
  }
}
.md-hidden {
  @include screen-md {
    display: none;
  }
}
.lg-hidden {
  @include screen-lg {
    display: none;
  }
}

@import './grid';
