.of-editor {
  --content-margin: var(--of-editor-content-margin, 0.75em);
  overflow: hidden;
  max-height: 100%;

  .editor-outer {
    background-color: rgb(255, 255, 255);
    margin-left: 0.11em;
    height: var(--of-editor-content-height, 255px);
    overflow: auto;
    border-bottom-right-radius: var(--field-border-radius);
    border-bottom-left-radius: var(--field-border-radius);
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    margin-bottom: 0.2em;
  }

  .of-editor-body {
    min-height: var(--of-editor-editable-area-height, 300px);
    color: rgb(0, 0, 0);
  }

  .editor-footer {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.1em;
    width: 100%;

    .of-field {
      margin: 0.3em;
      flex: 20em;
    }
    .of-button {
      margin: 0.3em;
      flex: 1em;
    }
  }

  .editor-toolbar {
    width: 100%;
    background-color: inherit;

    .editor-toolbar-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 0.1em;

      .of-button {
        margin: 0.5em;
        --button-border-width: 0;
      }

      .of-field {
        margin: 0.3em 0.5em 0.3em 0.5em;
        flex: 10em;
      }
    }

    .editor-toolbar-border {
      margin: 0;
      width: 100%;
      color: var(--of-field-border-color);
      background-color: var(--of-field-border-color);
      opacity: var(--of-field-border-opacity);
      height: var(--field-border-width);
      border: none;
    }

    .divider {
      width: 2px;
      height: 1.5rem;
      background-color: #0000001a;
      margin: 0.5em 0.5em 0.2em 0.5em;
      display: inline-block;
      line-height: 1.5;
      box-sizing: border-box;
    }
  }

  .ProseMirror {
    > * + * {
      margin-top: var(--content-margin);
    }

    margin: var(--content-margin);

    &:focus {
      outline: none;
    }

    ul,
    ol {
      padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }

    pre {
      background: #0d0d0d;
      color: #fff;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      cursor: pointer;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0d0d0d, 0.1);
    }

    hr {
      border: none;
      border-top: 2px solid rgba(#0d0d0d, 0.1);
      margin: 2rem 0;
    }
  }

  .ProseMirror Mirror-focused [contenteditable='false'] {
    cursor: text;
  }
}

.of-field.of-editor.of--mode-fixed {
  border: 0;
  --of-editor-content-margin: 0;
  --field-border-width: 0;
  padding-left: var(--field-h-pad);

  .of-editor-body {
    min-height: auto;
  }
  .editor-outer {
    height: auto;
    border-radius: var(--field-border-radius);
  }
}

.of-field.of-editor.of--focused {
  .editor-toolbar-border {
    opacity: 100%;
  }
}
