.editor {
  border: var(--field-border-width) var(--field-border-style)
    var(--of-field-border-color);
  border-radius: var(--field-border-radius);
  background-color: var(--field-background);
  opacity: var(--field-border-opacity);
  height: 300px;

  .editor-toolbar {
    width: 100%;
    border-bottom: var(--field-border-width) var(--field-border-style)
      var(--of-field-border-color);

    .of-button {
      margin: 0.5em;
    }

    .divider {
      width: 2px;
      height: 1.5rem;
      background-color: #0000001a;
      margin-bottom: 0.2em;
      margin-right: 0.5em;
      margin-left: 0.5em;
      display: inline-block;
      line-height: 1.5;
      box-sizing: border-box;
    }
  }

  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }

    margin: 0.75em;

    ul,
    ol {
      padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }

    pre {
      background: #0d0d0d;
      color: #fff;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      cursor: pointer;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0d0d0d, 0.1);
    }

    hr {
      border: none;
      border-top: 2px solid rgba(#0d0d0d, 0.1);
      margin: 2rem 0;
    }
  }
}
